.about_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  width: 100%;
  margin-bottom: 120px;
  margin-top: 70px;
}

.about_logo {
  width: 450px;
}

.about_desc_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  row-gap: 15px;
}

.about_text {
  font-size: var(--font-30);
  font-family: var(--font-verdana);
  color: var(--purple);
  width: fit-content;
}

.about_desc_text {
  font-size: var(--font-17);
  font-family: var(--font-georgia);
  color: var(--grey);
  width: 400px;
}

@media screen and (max-width: 990px) {
  .about_container {
    flex-direction: column;
    margin-top: 50px;
    row-gap: 25px;
  }

  .about_logo {
    width: 300px;
  }

  .about_desc_container {
    align-items: center;
  }

  .about_text {
    font-size: var(--font-25);
  }

  .about_desc_text {
	font-size: var(--font-15);
	/* word-break:keep-all; */
	width: 300px;
}
}
