/* Headlines Single */
.headlines_container{
	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
	width: fit-content;
	column-gap: 25px;
}

.headlines_single{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: auto;
	/* row-gap: 20px; */
	justify-content: space-between;
}

.headlines_img_single, .headlines_img_double{
	max-width: 100%;
	max-height: 100%;
}

.headlines_title_single{
	display: inline-block;
	width: inherit;
	text-align: start;
	height: auto;
	font-family: var(--font-verdana);
	color: var(--purple);
	font-size: var(--font-20);
	font-weight: 600;
	transition: 0.5s ease-out;
}

.headlines_title_single:hover{
	color: var(--tosca);
	cursor: pointer;
}

.headlines_desc_single{
	display: inline-block;
	width: inherit;
	text-align: start;
	height: auto;
	font-family: var(--font-georgia);
	color: var(--grey);
	font-size: var(--font-15);
	line-height: 1.4;
	letter-spacing: 0.3px;
}

.headlines_type_container{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.headlines_rule{
	border-bottom: 2px solid var(--tosca);
	width: 11px;
	height: 0;
	transform: rotate(90deg);
}

.headlines_type_text{
	font-family: var(--font-verdana);
	color: var(--purple);
	font-size: var(--font-15);
	text-transform: uppercase;
}

.headlines_double_container{
	width: 270px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.headlines_double{
	display: flex;
	flex-direction: column;
	height: auto;
	row-gap: 11px;
}

.headlines_title_double{
	display: inline-block;
	width: inherit;
	text-align: start;
	height: auto;
	font-family: var(--font-verdana);
	color: var(--purple);
	font-size: var(--font-16);
	font-weight: 600;
	transition: 0.5s ease-out;
}

.headlines_title_double:hover{
	color: var(--tosca);
	cursor: pointer;
}

.headlines_desc_double{
	display: inline-block;
	width: inherit;
	text-align: start;
	height: auto;
	font-family: var(--font-georgia);
	color: var(--grey);
	font-size: var(--font-13);
	line-height: 1.4;
	letter-spacing: 0.3px;
}

.headlines_type_text_double{
	font-family: var(--font-verdana);
	color: var(--purple);
	font-size: var(--font-14);
	text-transform: uppercase;
}

/* @media screen and (min-width: 991px) {
	
} */

@media screen and (max-width: 1200px) {
	.headlines_single{
		display: none;
	}

	.headlines_container{
		column-gap: 25px;
		justify-content: center;
	}

	.headlines_double_container{
		width: 100%;
		row-gap: 20px;
	}

	.headlines_double{
		justify-content: center;
		/* align-items: center; */
		width: 200px;
	}

	.headlines_img_double{
		width: 227px;
		height: auto;
		object-fit: cover;
	}

	.headlines_title_double{
		font-size: var(--font-14);
		font-weight: 600;
		transition: 0.2s;
	}

	.headlines_desc_double{
		font-size: var(--font-11);
	}

	.headlines_type_text_double{
		font-size: var(--font-12);
	}
}