.posters_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 35px;
  width: fit-content;
}

.posters_img_container {
  width: 300px;
}

.posters_img {
  max-width: 100%;
  max-height: 100%;
}

/* @media screen and (min-width: 991px) {
} */

@media screen and (max-width: 990px) {
  .posters_container {
    row-gap: 10px;
  }

  .posters_img_container {
    width: 150px;
  }

  /* .posters_img {
    width: 160px;
  } */
}
