.menu_mobile_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0px 15px;
  /* column-gap: 20px; */
  width: 395px;
}

.burger_menu {
  display: flex;
}

.logo {
  max-width: 70%;
  max-height: auto;
  object-fit: cover;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  width: 100%;
  padding-top: 10px;
}

.menu_rule {
  border-top: 0.5px solid var(--grey);
  width: 100%;
}

.search_bar_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
	margin-left: 15%;
  column-gap: 20px;
  width: 85%;
}

.search_bar {
  display: flex;
  align-items: center;
  border: 0.063rem solid rgba(95, 24, 84, 0.5);
  border-radius: 20px;
  width: 50%;
  height: auto;
  padding: 5px 10px;
  cursor: pointer;
}

.search_btn {
  width: 15%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--tosca);
  cursor: pointer;
  font-family: var(--font-navbar);
  font-weight: 600;
  color: var(--bluesky);
  font-size: var(--font-10);
}

.add_menu_btn {
  width: 35%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--tosca);
  cursor: pointer;
  font-family: var(--font-navbar);
  font-weight: 600;
  color: var(--bluesky);
  font-size: var(--font-10);
}

.menu_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  row-gap: 30px;
  width: 100%;
  text-align: start;
  text-transform: capitalize;
  /* padding-left: 40px; */
}

.news_menu,
.district_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
}

.news_text,
.district_text {
  font-size: var(--font-15);
  font-weight: 700;
  font-family: var(--font-navbar);
  color: var(--tosca);
  width: fit-content;
}

.news_details,
.district_details {
  /* display: flex;
	flex-direction: column; */
  width: 105%;
  columns: 2;
}

.news_desc,
.district_desc {
  font-size: var(--font-14);
  font-weight: 400;
  font-family: var(--font-navbar);
  color: var(--purple);
  width: fit-content;
  margin-bottom: 10px;
}

.news_desc a{
	font-size: var(--font-14);
	font-weight: 400;
	font-family: var(--font-navbar);
	color: var(--purple);
	width: fit-content;
	margin-bottom: 10px;
}

.wartalutim_logo_mobile {
  width: 160px;
  height: auto;
  object-fit: cover;
  padding-top: 8px;
  margin-left: 15px;
}

.add_menu_btn_mobile {
  font-size: var(--font-10);
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--tosca);
  cursor: pointer;
  font-family: var(--font-navbar);
  font-weight: 600;
  color: var(--bluesky);
  margin-top: 5px;
}

.menu_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
