  :root {
    --grey: #999999;
    --purple: #5F1854;
    --tosca: #1ABB9C;
    --maroon: #8B104E;
    --bluesky: #E8F9FD;
    --font-10: 10px;
    --font-11: 11px;
    --font-12: 12px;
    --font-13: 13px;
    --font-15: 15px;
    --font-14: 14px;
    --font-16: 16px;
    --font-17: 17px;
    --font-18: 18px;
    --font-20: 20px;
    --font-25: 25px;
    --font-verdana: verdana;
    --font-georgia: georgia;
    --font-consolas: consolas;
}

* {
  font-size: 1rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* height: 100%; */
}

body::-webkit-scrollbar{
  display: none;
}