.welcome_date_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */
	column-gap: 800px;
	cursor: default;
	/* width: 100%; */
	/* padding: 0 100px 0 50px; */
}

.welcome_text h2{
	font-family: var(--font-verdana);
	color: var(--purple);
	font-size: var(--font-20);
	font-weight: normal;
}

.date_text h2{
	font-family: var(--font-welcome-date);
	color: var(--grey);
	font-size: var(--font-20);
	font-weight: normal;
}

@media screen and (max-width: 1200px){
	.welcome_date_container{
		column-gap: 100px;
		/* width: auto; */
		/* justify-content: space-between; */
		/* padding: 0 15px; */
	}

	.welcome_text h2{
		font-size: var(--font-13);
	}

	.date_text h2{
		font-size: var(--font-13);
	}
}